body {
  width: 100%;
}
.login {
  position: relative;
  height: 100%;
  width: 100%;
  background: url('https://imgur.com/zVoNQwZ.png') center no-repeat;
  background-size: cover;
}

.login-logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 125px;
  cursor: pointer;
  object-fit: contain;
  padding-left: 20px;
}

.login-button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

.login-fade {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  /* background-image: linear-gradient(
    to top,
    rgba(0,0,0,0.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.8) 100%,

  ); */
}

.login-body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  color: white;
  padding: 20px;
  text-align: center;
  left: 0;
  right: 0;
}

.login-h1 {
  font-size: 2.25rem;
  margin-bottom: 15px;
}

.login-h2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.login-p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.login-input-email > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
  font-size: 1rem;
}

.get-started {
  padding: 10px;
  height: 50px;
  font-size: 0.95rem;
  border: none;
  color: white;
  background-color: #e50914;
  margin-top: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

/********Sign In*******/

.signIn {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0, 0.82);
}

.signIn > form {
  display: grid;
  flex-direction: column;
}

.signIn > form > h1 {
  margin-bottom: 25px;
  text-align: left;
}

.signIn > form > input {
  padding: 15px;
  outline-width: 0;
  border: none;
  margin-bottom: 15px;
  border-radius: 3px;
}

.signIn > form > button {
  margin-top: 20px;
  background-color: #e50914;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.new-to {
  color: gray;
  padding-right: 4px;
}

.signIn > form > div  {
  margin-top: 15px;
}

.signup-link {
  color:#fff;
  font-weight: 600;
}

.signup-link:hover {
  cursor: pointer;
  text-decoration: underline;
}